.Modal-container {
    position: fixed;
    background: rgba(160, 160, 160, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 1;
    animation: fadeIn 400ms;
    &.close {
        animation: fadeOut 400ms;
    }
    .Modal-box {
        background: white;
        width: 30vw;
        min-width: 300px;
        height: 55vh;
        min-height: 300px;
        max-height: 475px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        h1 {
            margin-top: 0;
            font-size: 1.25em;
        }
        p {
            text-align: center;
            font-size: 0.9em;
            padding: 0 1.5em 0 1.5em;
        }
        .divider {
            height: 2px;
            width: 50px;
            background: black;
            margin: 0 0 2em 0;
        }
        .input-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15%;
            input:focus {
                border: 2px solid black;
            }
        }
        .box {
            font-family: SpaceMono;
            font-size: 0.9em;
            border: 1px solid black;
            padding: 0.5em;
            width: 85%;
            outline: none;
        }
        .input-container.error {
            height: 10%;
            align-items: center;
            p {
                font-style: italic;
                // font-size: 0.8em!important;
                // border: 1px dotted red;
                border-radius: 5px;
                max-width: 80%;
                padding: 0 1em 0 1em;
                margin: 0;
            }
        }
        button {
            box-sizing: content-box;
            margin: 2em 0 0 0 !important;
            cursor: pointer;
        }
        button:hover {
            background: lightgrey;
        }
        &.success {
            width: 40vw;
            height: 40vh;
        }
    }
}

@media (min-width: 450px) and (max-width: 600px) {
    .Modal-box h1 {
        font-size: 1em;
    }
    .Modal-box .box {
        font-size: 0.8em !important;
    }
    .Modal-box .input-container {
        height: 12% !important;
    }
    .Modal-box p {
        font-size: 0.8em !important;
    }
}

@media (min-width: 280px) and (max-width: 449px) {
    .Modal-box {
        height: 45vh !important;
        h1 {
            font-size: 0.9em;
        }
        .box {
            font-size: 0.7em !important;
        }
        .input-container {
            height: 12% !important;
        }
        p {
            font-size: 0.7em !important;
        }
    }
}

@media (max-width: 279px) {}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}